
body {
	font-family: Arial, Helvetica, sans-serif;
	width: 1080px;
	text-align: center;
	margin: 20px auto;
	color: #444;
}

hr {
	border: 0;
	background-color: #333;
	height: 1px;
}

table {
	margin: 0 20px;
	border-spacing: 0;
	text-align: center;
	border: solid 1px #f5eabe;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover { text-decoration: none }

a:visited { color: inherit }

img { border: none }

input, select { margin: 5px }

li { margin: 10px 0 }

label { line-height: 30px }

label.error {
	font-size: smaller;
	line-height: 20px;
	font-style: italic;
}
