body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1080px;
  text-align: center;
  margin: 20px auto;
  color: #444;
}

hr {
  border: 0;
  background-color: #333;
  height: 1px;
}

table {
  margin: 0 20px;
  border-spacing: 0;
  text-align: center;
  border: solid 1px #f5eabe;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

img {
  border: none;
}

input,
select {
  margin: 5px;
}

li {
  margin: 10px 0;
}

label {
  line-height: 30px;
}

label.error {
  font-size: smaller;
  line-height: 20px;
  font-style: italic;
}

.lightBlue {
  background-color: #edf8f7;
}

.white {
  background-color: #fff;
}

.bubble {
  font-weight: bold;
  background-color: #f5eabe;
  padding: 5px;
  color: inherit;
  display: inline;
  border-radius: 4px;
}

.hMargin {
  margin: 0 30px;
}

.smallText {
  font-size: small;
}

.reallySmallText {
  font-size: xx-small;
}

.singleColumn {
  margin: 20px 30px;
  text-align: left;
}
