.categoryBox {
  height: 176px;
  width: 212px;
  margin: 21px 14px 6px;
  float: inherit;
}

.categoryImage {
  padding: 1px;
  border: solid 1px #555;
}

.categoryLabel {
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
  height: 40px;
  width: 210px;
  margin: 2px;
}

.categoryLabelText {
  position: absolute;
  line-height: 150%;
  font-size: x-large;
  margin: 3px 10px;
}
