<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css"
	th:href="@{/css/affablebean.css}" />

</head>

<body>
	<div th:fragment="frag_cart">
		<div class="singleColumn">
		
			<div th:if="${cart.numberOfItems} == 0">
				<span th:text="#{yourCartEmpty}"></span>				
			</div>
						
			<div th:if="${cart.numberOfItems} gt 0">
				<span th:text="#{yourCartContains} + ' ' + ${cart.numberOfItems} + ' ' + #{items}"></span>				
			</div>
		
			<div id="actionBar">
		
				<th:block th:if="${cart.numberOfItems} gt 0">
					<a th:href="@{/viewCart(clear=true)}" class="bubble hMargin">
						<span th:text="#{clearCart}"></span>
					</a>
				</th:block>
		
				<a th:href="@{/index}" class="bubble hMargin">
					<span th:text="#{continueShopping}"></span>
				</a>		
			</div>
		
			<th:block th:if="${cart.numberOfItems} gt 0">
		
				<h4 id="subtotal">
					<span th:text="#{subtotal}"></span>
					&euro; 
					<span th:text="${#numbers.formatDecimal(cart.subtotal, 0, 'COMMA', 2, 'POINT')}"></span>										
				</h4>
		
				<table id="cartTable">
		
					<tr class="header">
						<th th:text="#{product}"></th>
						<th th:text="#{name}"></th>
						<th th:text="#{price}"></th>
						<th th:text="#{quantity}"></th>
					</tr>
		
					<th:block th:each="cartItem, iterStat : ${cart.items}" th:with="product=${cartItem.product}">
						<tr th:class="${iterStat.odd} ? 'white' : 'lightBlue'">		
							<td>
								<img th:src="@{__${prodPath}__/__${product.name}__.png}"
										 th:alt="#{${product.name}}">
							</td>
		
							<td th:utext="#{${product.name}}"></td>
		
							<td> 
								&euro; 
								<span th:text="${#numbers.formatDecimal(cartItem.total, 0, 'COMMA', 2, 'POINT')}">
									10.00
								</span>
								<br>
								<span class="smallText" 
									th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')} + ' ' + #{unit}">
									10.00
								</span>
							</td>			
		
							<td>
								<div class="form-group">
									<div class="col-sm-10">
										<input type="number" class="form-control"
													 th:id="'qty' + ${product.id}" 
													 maxlength="2" size="2"
													 th:value="${cartItem.quantity}"
													 style="margin:5px; text-align: center;">
									</div>
								</div>
	
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-primary btn-sm" th:onclick="'updateCart(' + ${product.id} + ')'">
											<span th:text="#{update}"></span>
										</button>										
									</div>
								</div>
							</td>
						</tr>					
					</th:block>
		
				</table>		
			</th:block>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>