<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css"
	th:href="@{/css/affablebean.css}" />

<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->

</head>

<body>
	<div th:fragment="frag_category">
<!-- 		<c:set var="view" value="/category" scope="session" /> -->
		
<!-- 		<%-- HTML markup starts below --%> -->
		
		<div id="categoryLeftColumn">	
			<span th:each="category : ${categories}">
				<span th:if="${category.name == selectedCategory.name}">
					<span class="categoryButton" id="selectedCategory">
						<span class="categoryText" th:text="#{${category.name}}">								
						</span>
					</span>
				</span>

				<span th:if="${category.name != selectedCategory.name}">
					<span class="categoryButton">
						<a th:href="@{/category(id=${category.id})}"> 
							<span class="categoryText" th:text="#{${category.name}}">								
							</span>
						</a>
					</span>
				</span>
			</span>
		</div>
		
		<div id="categoryRightColumn">
		
			<p id="categoryTitle" th:utext="${selectedCategory.name}"></p>
		
			<span th:each="promo : ${catProms}">
				<span th:if="${promo.categoryId == selectedCategory.id}">
					<span class="saleCat" th:text="#{pro__${promo.description}__}">
					</span>
				</span>			
			</span>
		
			<table id="productTable" th:each="product, iterStat : ${categoryProducts}">
		
				<tr th:class="${iterStat.odd} ? 'white' : 'lightBlue'">
					<td>
						<img th:src="@{__${prodPath}__/__${product.name}__.png}"
							th:alt="#{${product.name}}">					
					</td>
	
					<td>
						<span th:text="#{${product.name}}"></span>
						<br>
						<span class="smallText" th:utext="#{__${product.name}__Description}">
						</span>
					</td>
	
<!-- 					<c:set var="new_price" value="${product.price}"/> -->
	
<!-- 					<c:if test="${!empty sale}"> -->
<!-- 						<c:set var="new_price" value="${new_price / (1 - sale.discount/100)}"/> -->
<!-- 					</c:if> -->
	
<!-- 						<span th:each="promo : ${catProms}"> -->
<!-- 							<span th:if="${promo.categoryId == selectedCategory.id}"> -->
<!-- 								<c:set var="new_price" value="${new_price / (1 - promo.discount/100)}"/> -->
<!-- 								</span> -->
<!-- 							</span>			 -->
<!-- 						</span> -->
							
<!-- 					<c:if test="${!empty sale || !empty catProms}"> -->
<!-- 						<td> -->
<!-- 							<span style="text-decoration: line-through; color: red;"> -->
<!-- 								<span style="color: gray;"> -->
<!-- 									<fmt:formatNumber type="currency" currencySymbol="&euro; "  -->
<!-- 																		value="${new_price}"/> -->
<!-- 								</span> -->
<!-- 							</span>							 -->
<!-- 						</td> -->
<!-- 					</c:if> -->

					<td> &euro; 
						<span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">
							10.00
						</span>
					</td>	
	
					<td>
				       <form method="POST" th:action="@{/addToCart(id=${product.id})}">
							<button type="submit" class="btn btn-primary btn-sm">
								<span th:text="#{addToCart}"></span>
							</button>							
				        </form>					
				        
<!-- 				        <form action="#" th:action="@{/addToCart}" th:object="${productForm}" method="post"> -->
<!-- 		                    <input type="text" th:field="*{productId}" th:value="${product.id}"/> -->
<!-- 							<button type="submit" class="btn btn-primary btn-sm"> -->
<!-- 								<span th:text="#{addToCart}"></span> -->
<!-- 							</button>							 -->
<!-- 				        </form>		 -->
					</td>
	
<!-- 					<span th:each="promo : ${prodProms}"> -->
<!-- 						<span th:if="${promo.productId == product.id}"> -->
<!-- 							<td class = "productOffer"> -->
<!-- 								${promo.description} -->
<!-- 							</td>						 -->
<!-- 						</span>			 -->
<!-- 					</span> -->

				</tr>
	
			</table>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('a.categoryButton').hover(function() {
				$(this).animate({
					backgroundColor : '#b2d2d2'
				});
			}, function() {
				$(this).animate({
					backgroundColor : '#d3ede8'
				});
			});

			$('div.categoryBox').hover(function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.3
				});
				$(span[1]).animate({
					color : 'white'
				});
			}, function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.7
				});
				$(span[1]).animate({
					color : '#444'
				});
			});
		});
	</script>

</body>
</html>