<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css"
	th:href="@{/css/affablebean.css}" />

</head>

<body>
	<div th:fragment="frag_category">
		<div id="categoryLeftColumn">	
			<th:block th:each="category : ${categories}">
				<span th:if="${category.name == selectedCategory.name}">
					<span class="categoryButton" id="selectedCategory">
						<span class="categoryText" th:text="#{${category.name}}">								
						</span>
					</span>
				</span>

				<span th:if="${category.name != selectedCategory.name}">
					<span class="categoryButton">
						<a th:href="@{/category(id=${category.id})}"> 
							<span class="categoryText" th:text="#{${category.name}}">								
							</span>
						</a>
					</span>
				</span>
			</th:block>
		</div>
		
		<div id="categoryRightColumn">		
			<p id="categoryTitle" th:utext="${selectedCategory.name}"></p>
		
			<table id="productTable" th:each="product, iterStat : ${categoryProducts}">		
				<tr th:class="${iterStat.odd} ? 'white' : 'lightBlue'" th:with="new_price=${product.price}">
					<td>
						<img th:src="@{__${prodPath}__/__${product.name}__.png}"
							th:alt="#{${product.name}}">					
					</td>
	
					<td>
						<span th:text="#{${product.name}}"></span>
						<br>
						<span class="smallText" th:utext="#{__${product.name}__Description}">
						</span>
					</td>

					<td> 
						&euro; 
						<span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">
							10.00
						</span>
					</td>	
	
					<td>
				       <form method="POST" th:action="@{/addToCart(id=${product.id}, catId=${selectedCategory.id})}">
							<button type="submit" class="btn btn-primary btn-sm">
								<span th:text="#{addToCart}"></span>
							</button>							
				        </form>					
					</td>
	
					<td>
						<th:block th:each="promo : ${prodProms}">
							<span th:if="${promo.productId == product.id}">
								<span class = "productOffer" th:utext="${promo.description}">
								</span>						
							</span>			
						</th:block>
					</td>
					
				</tr>	
			</table>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>