<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css"
	th:href="@{/css/affablebean.css}" />

<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->

</head>

<body>
	<div th:fragment="frag_confirmation">
<!-- 		<div id="singleColumn"> -->
		
<!-- 			<p id="confirmationText"> -->
<!-- 				<strong><fmt:message key="successMessage"/></strong> -->
<!-- 				<br><br> -->
<!-- 				<fmt:message key="confirmationNumberMessage"/> -->
<!-- 				<strong>${orderRecord.confirmationNumber}</strong> -->
<!-- 				<br> -->
<!-- 				<fmt:message key="contactMessage"/> -->
<!-- 				<br><br> -->
<!-- 				<fmt:message key="thankYouMessage"/> -->
<!-- 			</p> -->
		
<!-- 			<div class="summaryColumn" > -->
		
<!-- 				<table id="orderSummaryTable" class="detailsTable"> -->
<!-- 					<tr class="header"> -->
<!-- 						<th colspan="3"><fmt:message key="orderSummary"/></th> -->
<!-- 					</tr> -->
		
<!-- 					<tr class="tableHeading"> -->
<!-- 						<td><fmt:message key="product"/></td> -->
<!-- 						<td><fmt:message key="quantity"/></td> -->
<!-- 						<td><fmt:message key="price"/></td> -->
<!-- 					</tr> -->
		
<!-- 					<c:forEach var="orderedProduct" items="${orderedProducts}" varStatus="iter"> -->
		
<!-- 						<tr class="${((iter.index % 2) != 0) ? 'lightBlue' : 'white'}"> -->
<!-- 							<td> -->
<!-- 								<fmt:message key="${products[iter.index].name}"/> -->
<!-- 							</td> -->
							
<!-- 							<td class="quantityColumn"> -->
<!-- 								${orderedProduct.quantity} -->
<!-- 							</td> -->
							
<!-- 							<td class="confirmationPriceColumn"> -->
<!-- 								<fmt:formatNumber type="currency" currencySymbol="&euro; " -->
<!-- 																	value="${products[iter.index].price * orderedProduct.quantity}"/> -->
<!-- 							</td> -->
<!-- 						</tr> -->
		
<!-- 					</c:forEach> -->
		
<!-- 					<tr class="lightBlue"><td colspan="3" style="padding: 0 20px"><hr></td></tr> -->
		
<!-- 					<tr class="lightBlue"> -->
<!-- 						<td colspan="2" id="deliverySurchargeCellLeft"> -->
<!-- 							<strong><fmt:message key="surcharge"/>:</strong> -->
<!-- 						</td> -->
						
<!-- 						<td id="deliverySurchargeCellRight"> -->
<!-- 							<fmt:formatNumber type="currency" -->
<!-- 																currencySymbol="&euro; " -->
<!-- 																value="${initParam.deliverySurcharge}"/> -->
<!-- 						</td> -->
<!-- 					</tr> -->
		
<!-- 					<tr class="lightBlue"> -->
<!-- 						<td colspan="2" id="totalCellLeft"> -->
<!-- 							<strong><fmt:message key="total"/>:</strong> -->
<!-- 						</td> -->
						
<!-- 						<td id="totalCellRight"> -->
<!-- 							<fmt:formatNumber type="currency" -->
<!-- 																currencySymbol="&euro; " -->
<!-- 																value="${orderRecord.amount}"/> -->
<!-- 						</td> -->
<!-- 					</tr> -->
		
<!-- 					<tr class="lightBlue"> -->
<!-- 						<td colspan="3" style="padding: 0 20px"><hr></td> -->
<!-- 					</tr> -->
		
<!-- 					<tr class="lightBlue"> -->
<!-- 						<td colspan="3" id="dateProcessedRow"> -->
<!-- 							<strong><fmt:message key="dateProcessed"/>:</strong> -->
<!-- 							<fmt:formatDate value="${orderRecord.dateCreated}" -->
<!-- 															type="both" -->
<!-- 															dateStyle="short" -->
<!-- 															timeStyle="short"/> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
		
<!-- 			</div> -->
		
<!-- 			<div class="summaryColumn" > -->
		
<!-- 				<table id="deliveryAddressTable" class="detailsTable"> -->
<!-- 					<tr class="header"> -->
<!-- 						<th colspan="3"><fmt:message key="deliveryAddress"/></th> -->
<!-- 					</tr> -->
		
<!-- 					<tr> -->
<!-- 						<td colspan="3" class="lightBlue"> -->
<!-- 							${customer.name} -->
<!-- 							<br> -->
<!-- 							${customer.address} -->
<!-- 							<br> -->
<!-- 							<fmt:message key="prague"/> ${customer.cityRegion} -->
<!-- 							<br> -->
<!-- 							<hr> -->
<!-- 							<strong><fmt:message key="email"/>:</strong> ${customer.email} -->
<!-- 							<br> -->
<!-- 							<strong><fmt:message key="phone"/>:</strong> ${customer.phone} -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
<!-- 			</div> -->
<!-- 		</div>	 -->
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('a.categoryButton').hover(function() {
				$(this).animate({
					backgroundColor : '#b2d2d2'
				});
			}, function() {
				$(this).animate({
					backgroundColor : '#d3ede8'
				});
			});

			$('div.categoryBox').hover(function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.3
				});
				$(span[1]).animate({
					color : 'white'
				});
			}, function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.7
				});
				$(span[1]).animate({
					color : '#444'
				});
			});
		});
	</script>

</body>
</html>
