<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css" th:href="@{/css/affablebean.css}" />

<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->

</head>

<body>
	<div th:fragment="frag_contact">
<!-- 		<%-- Set session-scoped variable to track the view user is coming from. -->
<!-- 		     This is used by the language mechanism in the Controller so that -->
<!-- 		     users view the same page when switching between English and Czech. --%> -->
<!-- 		<c:set var="view" value="/contact" scope="session"/> -->
		
<!-- 		<%-- HTML markup starts below --%> -->
		
		<div id="singleColumn">
			<div>
				<h2 th:utext="#{co1}"></h2>
				<p th:utext="#{co2}"></p>
			</div>
		
			<div>
				<p th:utext="#{co8}"></p>
			</div>
		
	        <form class="form-horizontal" action="#" th:action="@{/feedback}" th:object="${contactForm}" method="post">
	            <table>
	                <tr>
	                    <td>Name:</td>
	                    <td><input type="text" th:field="*{name}" /></td>
	                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
	                </tr>
	                <tr>
	                    <td>Age:</td>
	                    <td><input type="text" th:field="*{age}" /></td>
	                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
	                </tr>
	                <tr>
	                    <td><button type="submit">Submit</button></td>
	                </tr>
	            </table>
	            
				<div class="form-group">
					<label for="subject_sel" class="col-sm-2 control-label">
						<span th:text="#{co3}"></span>					
					</label>
		
					<div class="col-sm-10">
						<select name="subject_sel" class="form-control" th:field="*{name}">
						    <option th:each="subject : ${subjects}" th:value="${subject}" 
						    	th:text="#{co__${subject.name}__}">
						    </option>
						</select>					
					</div>			
				</div>
		
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">
						<span th:text="#{customerName}"></span>					
					</label>
		
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name"
									 maxlength="45" 
									 placeholder="At least 5 chars and no more than 45 chars"									 
									 size="31"
									 value="${param.name}">
					</div>
				</div>
		
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">
						<span th:text="#{email}"></span>					
					</label>
		
					<div class="col-sm-10">
						<input type="email" class="form-control" name="email"
									 maxlength="45" 
									 placeholder="At least 8 chars one of which must be '@' and no more than 45 chars"
									 size="31"
									 value="${param.email}">
					</div>
				</div>
		
				<div class="form-group">
					<label for="msg" class="col-sm-2 control-label">
						<span th:text="#{coMsg}"></span>					
					</label>
		
					<div class="col-sm-10">
						<textarea dir="ltr" class="form-control" name="msg"
											cols="25"
											rows="5">
						</textarea>
					</div>
				</div>
		
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">
							<span th:text="#{coSubmit}"></span>
						</button>
					</div>
				</div>	            
	        </form>
        		
			<div>
			
				<h3 th:utext="#{co4}"></h3>
				<p th:utext="#{co5}"></p>
				<p th:utext="#{co6}"></p>
		
				<p th:utext="#{co7}">
					<span class="privacy"> 
						<a th:href="@{/privacy}"><span th:utext="#{co9}"></span></a>
					</span>
				</p>
		
			</div>
		</div>	
				
		<script type="text/javascript">
	
			$(document).ready(function() {
				$("#feedbackForm").validate({
					rules: {
						name: "required",
						email: {
							required: true,
							email: true
						},
						msg: {
							required: true
						}
					}
				});
			});
		</script>		
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('a.categoryButton').hover(function() {
				$(this).animate({
					backgroundColor : '#b2d2d2'
				});
			}, function() {
				$(this).animate({
					backgroundColor : '#d3ede8'
				});
			});

			$('div.categoryBox').hover(function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.3
				});
				$(span[1]).animate({
					color : 'white'
				});
			}, function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.7
				});
				$(span[1]).animate({
					color : '#444'
				});
			});
		});
	</script>

</body>
</html>
