<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css" th:href="@{/css/affablebean.css}" />

</head>

<body>
	<div th:fragment="frag_contact">
		<div id="singleColumn">
			<div>
				<h2 th:utext="#{co1}"></h2>
				<p th:utext="#{co2}"></p>
			</div>
		
			<div>
				<p th:utext="#{co8}"></p>
			</div>
		
	        <form class="form-horizontal" action="#" th:action="@{/feedback}" th:object="${contactForm}" 
	        	method="post" id="contactForm">
	        	
				<div class="form-group">
					<label for="subject_sel" class="col-sm-2 control-label" th:text="#{co3}">
					</label>
		
					<div class="col-sm-10">
						<select name="subject_sel" class="form-control" th:field="*{subjectId}">
						    <option th:each="subject : ${subjects}" th:value="${subject.id}" 
						    	th:text="#{co__${subject.name}__}">
						    </option>
						</select>		
	                    <div th:if="${#fields.hasErrors('subjectId')}" th:errors="*{subjectId}">
	                    	Subject Error
                    	</div>									
					</div>			
				</div>
		
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label" th:text="#{customerName}">
					</label>
		
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" th:field="*{name}"
									 maxlength="45" 
									 placeholder="At least 5 chars and no more than 45 chars"									 
									 size="31"
									 value="">
	                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
	                    	Name Error
	                   	</div>																		 
					</div>
				</div>
		
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label" th:text="#{email}">
					</label>
		
					<div class="col-sm-10">
						<input type="email" class="form-control" name="email" th:field="*{email}"
									 maxlength="45" 
									 placeholder="At least 8 chars one of which must be '@' and no more than 45 chars"
									 size="31"
									 value="">
	                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
	                    	Email Error
	                   	</div>																		 									 
					</div>
				</div>
		
				<div class="form-group">
					<label for="msg" class="col-sm-2 control-label" th:text="#{coMsg}">
					</label>
		
					<div class="col-sm-10">
						<textarea dir="ltr" class="form-control" name="msg" th:field="*{msg}"
											cols="25" rows="5">
						</textarea>
	                    <div th:if="${#fields.hasErrors('msg')}" th:errors="*{msg}">
	                    	Message Error
	                   	</div>																		 									 						
					</div>
				</div>
		
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">
							<span th:text="#{coSubmit}"></span>
						</button>
					</div>
				</div>	            
	        </form>
        		
			<div>
			
				<h3 th:utext="#{co4}"></h3>
				<p th:utext="#{co5}"></p>
				<p th:utext="#{co6}"></p>
		
				<p th:utext="#{co7}">
					<span class="privacy"> 
						<a th:href="@{/privacy}"><span th:utext="#{co9}"></span></a>
					</span>
				</p>
		
			</div>
		</div>	
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
