<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css" th:href="@{/css/affablebean.css}" />

<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->

</head>

<body>

	<div th:fragment="frag_footer">
		<div id="footer">
			<br>

			<!-- 	<c:if test="${!empty sale}"> -->
			<!-- 		<c:choose> -->

			<!-- 			<c:when test="${fn:contains(pageContext.request.servletPath,'/index')}"> -->
			<!-- 				<hr id="footerDivider"> -->
			<!-- 				<p id="footerText" class="reallySmallText"> -->
			<!-- 				</c:when> -->

			<!-- 				<c:otherwise> -->
			<!-- 				<hr id="footerDivider1"> -->
			<!-- 				<p id="footerText1" class="reallySmallText"> -->
			<!-- 				</c:otherwise> -->

			<!-- 			</c:choose> -->
			<!-- 		</c:if> -->

			<!-- 		<button class="btn btn-link"  -->
			<!-- 						onclick="location.href = '<c:url value='privacy'/>'"> -->
			<!-- 			<fmt:message key="privacy" /> -->
			<!-- 		</button> -->

			<button class="btn btn-link" onclick="location.href = '/privacy'">
				Privacy</button>

			<!-- 		<button class="btn btn-link" onclick="location.href = '<c:url value='contact'/>'"> -->
			<!-- 			<fmt:message key="contact" /> -->
			<!-- 		</button> -->

			<button class="btn btn-link" onclick="location.href = '/contact'">
				Contact</button>

			&nbsp;&copy;&nbsp;2019 the affable bean company
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('a.categoryButton').hover(function() {
				$(this).animate({
					backgroundColor : '#b2d2d2'
				});
			}, function() {
				$(this).animate({
					backgroundColor : '#d3ede8'
				});
			});

			$('div.categoryBox').hover(function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.3
				});
				$(span[1]).animate({
					color : 'white'
				});
			}, function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.7
				});
				$(span[1]).animate({
					color : '#444'
				});
			});
		});
	</script>

</body>
</html>
