<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css" th:href="@{/css/affablebean.css}" />

</head>

<body>
	<div th:fragment="frag_header">
		<div id="main">
			<div id="header">
				<div id="widgetBar">
					<div class="headerWidget">
	
						<!-- 					<%-- If servlet path contains '/confirmation', do not display -->
						<!-- 					language toggle --%> -->
						<!-- 					<c:if -->
						<!-- 						test="${!fn:contains(pageContext.request.servletPath,'/confirmation')}"> -->
	
						<!-- 							<%-- language selection widget --%> -->
						<!-- 							<c:choose> -->
						<!-- 								<%-- When user hasn't explicitly set language, -->
						<!-- 											render toggle according to browser's preferred locale --%> -->
						<!-- 								<c:when -->
						<!-- 								test="${empty sessionScope['javax.servlet.jsp.jstl.fmt.locale.session']}"> -->
						<!-- 								<c:set var="req_locale" -->
						<!-- 									value="${pageContext.request.locale.language}" /> -->
	
						<!-- 								<ab:lang language="en" display="english" -->
						<!-- 									test="${req_locale ne 'cs' && req_locale ne 'es'}" /> -->
	
						<!-- 								<ab:lang language="cs" display="česky" -->
						<!-- 									test="${req_locale eq 'cs'}" /> -->
	
						<!-- 								<ab:lang language="es" display="español" -->
						<!-- 									test="${req_locale eq 'es'}" /> -->
						<!-- 							</c:when> -->
	
						<!-- 								<%-- Otherwise, render widget according to the set locale --%> -->
						<!-- 								<c:otherwise> -->
						<!-- 								<c:set var="locale" -->
						<!-- 									value="${sessionScope['javax.servlet.jsp.jstl.fmt.locale.session']}" /> -->
	
						<!-- 								<ab:lang language="en" display="english" -->
						<!-- 									test="${locale ne 'cs' && locale ne 'es'}" /> -->
	
						<!-- 								<ab:lang language="cs" display="česky" test="${locale eq 'cs'}" /> -->
	
						<!-- 								<ab:lang language="es" display="español" -->
						<!-- 									test="${locale eq 'es'}" /> -->
						<!-- 							</c:otherwise> -->
						<!-- 						</c:choose> -->
	
						<!-- 					</c:if> -->
					</div>
	
					<!-- 				<%-- checkout widget --%> -->
					<div class="headerWidget">
	
						<!-- 					<c:if -->
						<!-- 						test="${!empty cart && cart.numberOfItems != 0 && -->
	
						<!-- 													!fn:contains(pageContext.request.servletPath,'/checkout') && -->
						<!-- 													requestScope['javax.servlet.forward.servlet_path'] ne '/checkout' && -->
	
						<!-- 													!fn:contains(pageContext.request.servletPath,'/cart') && -->
						<!-- 													requestScope['javax.servlet.forward.servlet_path'] ne '/cart' && -->
	
						<!-- 													validationErrorFlag ne true && -->
						<!-- 													orderFailureFlag ne true}"> -->
	
						<!-- 						<a href="<c:url value='checkout'/>" class="bubble"> <fmt:message -->
						<!-- 								key="proceedCheckout" /> -->
						<!-- 						</a> -->
						<!-- 					</c:if> -->
					</div>
	
					<!-- 				<%-- shopping cart widget --%> -->
					<div class="headerWidget" id="viewCart" th:if="${cart.numberOfItems} > 0">
						<img src="../static/img/cart.gif" th:src="@{/img/cart.gif}" id="cart"
							alt="shopping cart icon">
						
						<span th:text="${cart.numberOfItems} + ' ' + #{items}" class="horizontalMargin" >
						</span> 														

						<th:block th:if="${not #strings.contains(#request.servletPath,'cart')}">
							<a th:href="@{/viewCart}" class="bubble">
								<span th:text="#{cart}"></span>
							</a>
						</th:block>
					</div>
				</div>
	
					<a th:href="@{/index}">
						<img src="../static/img/logo.png" th:src="@{/img/logo.png}" id="logo"
							alt="Affable Bean logo"> 					
					</a>
						
					<img src="../static/img/logoText.png"
						th:src="@{/img/logoText.png}" id="logoText" alt="the affable bean">
	
					<th:block th:if="${not #lists.isEmpty(sale)}">
						<img class="sale" th:src="@{img/sales.jpg}" id="saleText" alt="sale now on!">
							<br><br>

						<th:block th:if="${#strings.contains(#request.servletPath,'index')}">
							<span class="saleText">
<!-- 							<span th:utext="#{pro__${sale.description}__}"></span> -->							
							</span>
						</th:block>

						<th:block th:unless="${#strings.contains(#request.servletPath,'index')}">
							<span class="saleText1">
<!-- 							<span th:utext="#{pro__${sale.description}__}"></span> -->														
							</span>
						</th:block>
					</th:block>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
