<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css" th:href="@{/css/affablebean.css}" />

</head>

<body>
	<div th:fragment="frag_header">
		<div id="main">
			<div id="header">
				<div id="widgetBar">
					<div class="headerWidget" th:if="${cart.numberOfItems} gt 0">
						<th:block th:unless="${#strings.contains(#request.servletPath,'checkout')}">
							<a th:href="@{/checkout}" class="bubble"> 
								<span th:utext="#{proceedCheckout}"></span>
							</a>
						</th:block>					
					</div>
	
					<div class="headerWidget" id="viewCart" th:if="${cart.numberOfItems} gt 0">
						<img src="../static/img/cart.gif" th:src="@{/img/cart.gif}" id="cart"
							alt="shopping cart icon">
						
						<span th:text="${cart.numberOfItems} + ' ' + #{items}" class="horizontalMargin" >
						</span> 														

						<th:block th:if="${not #strings.contains(#request.servletPath,'viewCart')}">
							<a th:href="@{/viewCart(clear=false)}" class="bubble">
								<span th:text="#{cart}"></span>
							</a>
						</th:block>
					</div>
				</div>
	
				<a th:href="@{/index}">
					<img src="../static/img/logo.png" th:src="@{/img/logo.png}" id="logo"
						alt="Affable Bean logo"> 					
				</a>
					
				<img src="../static/img/logoText.png"
					th:src="@{/img/logoText.png}" id="logoText" alt="the affable bean">
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
