<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css"
	th:href="@{/css/affablebean.css}" />

</head>

<body>
	<div th:fragment="frag_index">
		<div id="indexLeftColumn">
			<div id="welcomeText">
				<p th:text="#{greeting}" style="font-size: larger" />
				<p th:text="#{introText}" />
			</div>
		</div>

		<div id="indexRightColumn">
			<th:block th:each="category : ${categories}"> 
				<span class="categoryBox"> 
					<a th:href="@{/category(id=${category.id})}"> 
						<span class="categoryLabel"></span> 
						<span class="categoryLabelText" th:text="#{${category.name}}"></span> 
						<img th:src="@{__${imgPath}__/__${category.name}__.jpg}"
							th:alt="#{${category.name}}" class="categoryImage">
					</a>
				</span>
			</th:block>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
