<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css"
	th:href="@{/css/affablebean.css}" />

<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->

</head>

<body>
	<div th:fragment="frag_index">
		<!-- 		<%-- Set session-scoped variable to track the view user is coming from. -->
		<!-- 		     This is used by the language mechanism in the Controller so that -->
		<!-- 		     users view the same page when switching between English and Czech. --%> -->
		<!-- 		<c:set var='view' value='/index' scope='session' /> -->

		<!-- 		<%-- HTML markup starts below --%> -->

		<div id="indexLeftColumn">
			<div id="welcomeText">
				<p th:text="#{greeting}" style="font-size: larger" />
				<p th:text="#{introText}" />
			</div>
		</div>

		<div id="indexRightColumn">
			<span th:each="category : ${categories}"> <span
				class="categoryBox"> <a
					th:href="@{/category(id=${category.id})}"> <span
						class="categoryLabel"></span> <span class="categoryLabelText"
						th:text="#{${category.name}}"></span> <img
						th:src="@{__${imgPath}__/__${category.name}__.jpg}"
						th:alt="#{${category.name}}" class="categoryImage">
				</a>
			</span>
			</span>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
