<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css"
	th:href="@{/css/affablebean.css}" />

<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->

</head>

<body>
	<div th:fragment="frag_index">
		<!-- 		<%-- Set session-scoped variable to track the view user is coming from. -->
		<!-- 		     This is used by the language mechanism in the Controller so that -->
		<!-- 		     users view the same page when switching between English and Czech. --%> -->
		<!-- 		<c:set var='view' value='/index' scope='session' /> -->

		<!-- 		<%-- HTML markup starts below --%> -->

		<div id="indexLeftColumn">
			<div id="welcomeText">
				<p th:text="#{greeting}" style="font-size: larger" />
				<p th:text="#{introText}" />
			</div>
		</div>

		<div id="indexRightColumn">
			<div th:each="category : ${categories}">
				<div class="categoryBox">
					<a th:href="@{/category(id=${category.id})}"> 
					<span class="categoryLabel"></span> 
					<span class="categoryLabelText" th:text="#{${category.name}}"></span> 
					<img th:src="@{img/categories/${category.name}.jpg}"
						alt="#{${category.name}}" class="categoryImage">
					</a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('a.categoryButton').hover(function() {
				$(this).animate({
					backgroundColor : '#b2d2d2'
				});
			}, function() {
				$(this).animate({
					backgroundColor : '#d3ede8'
				});
			});

			$('div.categoryBox').hover(function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.3
				});
				$(span[1]).animate({
					color : 'white'
				});
			}, function() {
				var span = this.getElementsByTagName('span');
				$(span[0]).animate({
					opacity : 0.7
				});
				$(span[1]).animate({
					color : '#444'
				});
			});
		});
	</script>

</body>
</html>
