<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/affablebean.css" th:href="@{/css/affablebean.css}" />

</head>

<body>

	<div th:fragment="frag_privacy">
		<div class="singleColumn">		
			<p th:utext="#{pr1}"></p>
		
			<div id="contents">
				<button class="btn btn-link" onclick="location.href = '#pr2'">
					&#8226; <span th:utext="#{pr2}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr3'">
					&#8226; <span th:utext="#{pr3}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr4'">
					&#8226; <span th:utext="#{pr4}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr5'">
					&#8226; <span th:utext="#{pr5}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr6'">
					&#8226; <span th:utext="#{pr6}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr7'">
					&#8226; <span th:utext="#{pr7}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr8'">
					&#8226; <span th:utext="#{pr8}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr9'">
					&#8226; <span th:utext="#{pr9}"></span>
				</button>
				<br>
				<button class="btn btn-link" onclick="location.href = '#pr10'">
					&#8226; <span th:utext="#{pr10}"></span>
				</button>
				<br>
			</div>
			<br>
		
			<div id="pr2">
				<p><b><span th:utext="#{pr2}"></span></b></p>
				<p th:utext="#{pr12}"></p>
			</div>
			<br>
		
			<div id="pr3">
				<p><b><span th:utext="#{pr3}"></span></b></p>
				<p th:utext="#{pr13}"></p>
			</div>
			<br>
		
			<div id="pr4">
				<p><b><span th:utext="#{pr4}"></span></b></p>
				<p th:utext="#{pr14}"></p>
			</div>
			<br>
		
			<div id="pr5">
				<p><b><span th:utext="#{pr5}"></span></b></p>
				<p th:utext="#{pr15}"></p>
			</div>
			<br>
		
			<div id="pr6">
				<p><b><span th:utext="#{pr6}"></span></b></p>
				<p th:utext="#{pr16}"></p>
			</div>
			<br>
		
			<div id="pr7">
				<p><b><span th:utext="#{pr7}"></span></b></p>
				<p th:utext="#{pr17}"></p>
			</div>
			<br>
		
			<div id="pr8">
				<p><b><span th:utext="#{pr8}"></span></b></p>
				<p th:utext="#{pr18}"></p>
			</div>
			<br>
		
			<div id="pr9">
				<p><b><span th:utext="#{pr9}"></span></b></p>
				<p th:utext="#{pr19}"></p>
			</div>
			<br>
		
			<div id="pr10">
				<p><b><span th:utext="#{pr10}"></span></b></p>
				<p th:utext="#{pr20}"></p>
			</div>
		</div>	
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
