/* checkout page styles */
#checkoutTable {
  width: 600x;
  padding: 10px;
  background-color: #f5eabe;
  /*float: left;*/
  border-radius: 4px;
}

#checkoutTable td {
  vertical-align: top;
  text-align: right;
  margin: 5px;
}

.inputField {
  width: 190px;
}

#infoBox {
  margin-left: 150px;
  /*padding: 10px 25px 0 460px*/
}

#priceBox {
  padding: 10px;
  border: 1px solid #c3e3e0;
  background-color: #c3e3e0;
  border-radius: 4px;
}

#priceBox td {
  text-align: right;
  padding: 5px;
}

.checkoutPriceColumn {
  width: 80px;
  font-weight: bold;
}

.total {
  border-top: 1px solid #444;
}

.indent {
  margin-left: 6em;
}

/* confirmation page styles */
#confirmationText {
  margin: 0 20px 20px;
  padding: 10px;
  background-color: #f5eabe;
  float: left;
  border-radius: 4px;
}

.summaryColumn {
  margin-top: 15px;
  width: 50%;
  float: left;
}

.detailsTable {
  text-align: left;
}

.detailsTable th {
  padding: 5px 10px;
}

.detailsTable td {
  padding: 5px 10px 5px 20px;
  font-family: "Courier New", courier, monospace;
}

#orderSummaryTable {
  width: 100%;
}

#deliveryAddressTable {
  width: 70%;
  margin-left: 15%;
}

#deliveryAddressTable td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.quantityColumn {
  text-align: center;
  width: 62px;
}

.confirmationPriceColumn {
  width: 90px;
  font-weight: normal;
}

#deliverySurchargeCellLeft {
  text-align: right;
  padding: 0;
}

#deliverySurchargeCellRight {
  padding: 0 20px;
}

#totalCellLeft {
  text-align: right;
  padding: 0;
}

#totalCellRight {
  padding: 0 20px;
}

#dateProcessedRow {
  padding: 2px 0 10px 20px;
}
