<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../css/affablebean.css" th:href="@{/css/affablebean.css}" />

</head>

<body>
	<div id="main">
		<div th:replace="fragments/header.html :: frag_header"></div>
		<div th:replace="fragments/checkout.html :: frag_checkout"></div>
	</div>

	<div th:replace="fragments/footer.html :: frag_footer"></div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">		
		$(document).ready(function() {
			$("#checkoutForm").validate({
				rules: {
					name: {
						minlength: 8,
						maxlength: 45,
						required: true
					},
					email: {
						email: true,
						minlength: 8,
						maxlength: 45,
						required: true
					},
					phone: {
						minlength: 8,
						maxlength: 30,
						required: true,
						number: true
					},
					address: {
						minlength: 8,
						maxlength: 45,
						required: true
					},
					creditcard: {
						creditcard: true,
						minlength: 8,
						maxlength: 19,
						required: true
					}
				}
			});
		});
	</script> 
</body>
</html>
