<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Affablebean administration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="all"
	href="../../css/affablebean.css" th:href="@{/css/affablebean.css}" />

</head>

<body>
    <div id="main">
        <div id="header">
            <div id="widgetBar"></div>
            <a th:href="@{/index}"> <img src="../img/logo.png" alt="Affable Bean logo" id="adminLogo">
            </a>

            <img src="../img/logoText.png" id="logoText" alt="the affable bean">
        </div>

     <div th:if="${param.error}">
         Invalid username and password.
     </div>

     <div th:if="${param.logout}">
         You have been logged out.
     </div>

     <form th:action="@{/login}" method="post">
         <div><label> User Name : <input type="text" name="username"/> </label></div>
         <div><label> Password: <input type="password" name="password"/> </label></div>
         <div><input type="submit" value="Sign In"/></div>
     </form>

        <div id="footer"></div>
    </div>
        
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
</body>
</html>
